/* styles.css */

.stopwatch-container {
  text-align: center;
  margin: 20% 20% 10% 20%;
}

.time-display {
  font-size: 2rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.button:hover {
  background-color: #0056b3;
}
